td, tr {
    vertical-align: middle;
    color:black;
}

th {
    color:black;
    font-size: 1.1em;
    font-weight: 900;
}

table {
    background-color: white;
}

.div_container {
    background-color: #fff;
    width: 98%;
    padding: .5em .5em .1em .5em;
    border-radius: 15px;
}

