.btn {
    margin: 1em;
    background-color: #1b98e0 !important;
    border: #1b98e0;
    border-radius: 5px  !important;
    color: #fff;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    height: 38px;
}

.btn:hover {
    color: #FFF;
}