.card-titulo{
    width: 30%;
    background: none;
    
    .form-control{
        border-radius: 0%;
        padding: 0.9em;
        background-color: white;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #3084d1;
    }
    
    h1{
        font-weight: 500;
    }

    .h5{
        font-size: 1em;
    }

    

    .btns{

        
        margin-top: 3em;
        padding-bottom: 5em;

        .btnSubmit {
            background-color: #1b98e0;
            padding: 1em;
            
        }
    
        .btnSubmit:hover{
            background-color: #037cc2;
        }
    
        
    }
}