#CadastroAdvogados {

    @media (max-width:720px){
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    h1 {
        text-align: center;
        font-weight: bold;
        padding: 0.5em;
    }

    .formTitle{
        font-weight: bold;
    }

    .formInput{
        
    }
}