.advogado_details {
    padding: 2em;
    width: 50em;
    margin: auto;
    
    h1 {
        margin-bottom: 0.5em;
        background-color: #0084d1;
        color: #fff;
        padding: 0.4em;
        text-align: center;
    }

    h2,p {
        margin-bottom: 2em;
        border-bottom: 1px solid rgb(202, 202, 202);
    }

    span {
        font-weight: bold;
    }

    .editBtn{
        display: flex;
        margin: auto;
        margin-top: 2em;
        background-color: #0084d1;
        border: none;
        padding: 0.8em;
    }

    .editBtn:hover{
        background-color: #1676ad;
    }

    .advogado_info {
        width: 100%;
    }
}