.advogado_details {
    padding: 2em;

    h1 {
        margin-bottom: 0.5em;
        background-color: #1b98e0 !important;
        color: #fff;
        padding: 0.4em;
    }

    h2,p {
        margin-bottom: 0.5em;
    }

    span {
        font-weight: bold;
    }

    button {
        margin: 1em;
        background-color: #1b98e0 !important;
        border: none !important;
        color: #fff;
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 38px;
    }
    button:hover{
        background-color: rgba(33, 219, 174, 0.9) !important;
        border: none !important;
    }

    .advogado_info {
        width: 100%;
    }
}