.fundo .backgroundimg {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family:  'roboto', sans-serif;
  /*Não Mexer*/
  width: 70vw;
  font-size:300%;
  /* min-width: 5vw;*/
  border-radius: 25px;
  height: 50vh;;
  text-align: center;
 padding: 1em;
  
}

.fundo{
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  align-content: center; 
  display: flex;
  background-repeat: no-repeat;
  background-image: url('../images/frentepge.jpg');
  height: 93vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
 


}