td,tr{
    vertical-align: middle;
    color:#333 !important;
}
th{
    color:black;
    font-size: 1.1em !important;
    font-weight: 900;
}

table {
    background-color: #fff;
}

.div_container {
    background-color: #fff;
    width: 98%;
    padding: .5em .5em .1em .5em;
    border-radius: 15px;
}

.paginacao {
    background-color: #fff;
    width: 98%;
    display: flex;
    align-items: flex-start;
    padding: 0px;
}