@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&family=Roboto+Serif:opsz@8..144&display=swap');


.textHome{
    text-align: center;
    
    h1{
        font-family: 'Roboto Serif';
        font-weight: 700;
        margin-top: 6em;
        .text-SISCAM{
            color: #0084d1;
        }
    }

    .btn-login{
        background-color: #0084d1;
        border: #0084d1;
    }
    .btn-login:hover{
        background-color: #015f96;
    }
}