@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&family=Roboto+Serif:opsz@8..144&display=swap');

.textHome{
    text-align: center;

    h1{
        font-family: 'Roboto Serif';
        font-weight: 700;
        margin-top: 7.5em;
        .text-SISCAM{
            color: #0084d1;
        }
    }
}