@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.NavLogo{
    position: absolute;
    margin-left: 1em;
    padding: 0;
    img{
        height: 3em;
        border-right: 2px solid black;
    }
    .textSISCAM{
        margin-left: 1em;
        font-size: 1.3em;
        font-family:'Pacifico';
        font-style: oblique;
        color: #0084d1;  
        vertical-align: sub;
    }   
}

.navlinks{
    position: relative;
    height: 4em;
    align-items: center;
    width: 100%;
    justify-content: center;
    a{
        font-size: 1.1em;
        font-family: 'Roboto';
        font-weight: 600;
    }
    a:hover{
        background-color: #0084d1;
        border-radius: 5px;
        color: white;
    }
}

