@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.NavLogo {
    img {
        height: 4em;
        border-right: 2px solid black;

        @media (max-width: 720px) {
            height: 3em;
        }
    }

    .textSISCAM {
        color: #0084d1;
        font-family: 'Pacifico';
        font-size: 1.3em;
        vertical-align: sub;

        @media (max-width: 720px) {
            height: 3em;
            font-size: 1em;
        }
    }

}

.navlinks {

    a {
        color: gray;
        font-size: 1.1em;
        font-weight: bold;
        border-radius: 5px;

        &:hover {
            background-color: #0084d1;
            color: white;

        }

        @media (max-width: 720px) {
            padding-left: 0.5em;
        }

    }

    .iconNav {
        vertical-align: sub;
        margin-right: 0.2em;
    }

    @media (max-width: 720px) {
        border-top: 1px solid gray;
        margin-top: 0.5em;
        padding-top: 1em;
    }


}