.fd{
    margin: 1em;
    height: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items:center;

    button{
        margin-top: 6.7em !important;
        background-color: #1b98e0!important;
        border: none !important;
        color: #fff;
        width: 15rem;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        height: 38px;

        svg {
            font-size: 1.5em !important;
            color:#fff;
          }
      }
      
      button:hover{
        background-color: #006494 !important;
        border:none !important
      }
  }

  