nav .containernav{
  margin-left: 3em !important;
}
li{
  padding: 0 5px;
  margin: 0 5px;
}
li:hover {
  background-color: rgba(220,220,220,0.7);
  border-radius: 5px;
  color:black !important;
}
a{
padding: -5px;
margin: -5px;
vertical-align: middle;
}
svg{
  font-size: 1.4em !important;
}