.brand_sis{
  font-family:'Pacifico' !important ;
  color:#1b98E0 !important;
  padding-right: 2em;
}
svg{
  font-size: 150%;
}
li{
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 1px;
  font-size: 1.1em;
}
li:hover{
background-color: #DCDCDC;
border-radius: 5px;
}
.brand_sis img{
  height: 2em;
  width: 5em;
  border-right: #000 solid 1px;
}
