
.pagination {
  display: flex;
  list-style: none;
  margin-top: 0.5em;
  margin-bottom: .4em;
}

.pagination li{
  margin: 0.1em
}

.pagination .pagination__item--active{
  font-weight: bold;
  color: #14213d;

}
.pagination .pagination__item--active:focus {
  font-weight: bold;
  color: #14213d;
  
}

.pagination button{
  width: 1.5rem;
  height: 26px;
  font-size: 12px;
  vertical-align: middle;
  align-items: center;
  justify-items: center;
  display: flex;
  justify-content: center;
  background-color: #FCA311 !important;
  border: #FCA311 1px solid !important;
  color: #e5e5e5;
}  

.precedingAndNext:disabled{
  background-color: #bd7f1b !important;
  height: 20px !important;
  padding: 1em;

  border:#bd7f1b 1px solid !important;
  width: 80px;
}
.precedingAndNext:enabled{
  background-color: #FCA311 !important;
  height: 20px !important;
  padding: 1em;
  border:#FCA311 1px solid !important;
  width: 80px;
}


.pagei{
  display: flex;
  vertical-align:bottom;
  align-items:baseline;
  justify-items:baseline;
  justify-content: baseline;
}