
.pagination {
  display: flex;
  list-style: none;
  margin-top: 0.5em;
  margin-bottom: .4em;
  padding: 0px;
}

.pagination li{
  margin: 0.1em
}




.pagination .pagination__item--active{
  font-weight: bold;
  color: #14213d;

}
.pagination .pagination__item--active:focus {
  font-weight: bold;
  color: #14213d;
  
}

.pagination button{
  width: 1.5rem;
  height: 26px;
  font-size: 12px;
  vertical-align: middle;
  align-items: center;
  justify-items: center;
  display: flex;
  justify-content: center;
  background-color: #21dbae  !important;
  border: #21dbae  1px solid !important;
  color: #fff;
}  
.pagination button:hover:enabled{

  background-color:#1b98E0 !important;
 
}  

.precedingAndNext:disabled{
  background-color: #21dbae50!important;
  height: 20px !important;
  padding: 1em;
  border:#21dbae 1px solid !important;
  width: 80px;
  color: grey;
}
.precedingAndNext:enabled{
  background-color: #21dbae!important;
  height: 20px !important;
  padding: 1em;
  border:#21dbae 1px solid !important;
  width: 80px;
}


.pagei{
  display: flex;
  vertical-align:bottom;
  align-items:baseline;
  justify-items:baseline;
  justify-content: baseline;
}