.campopesq {
    max-width: 40vw;
    padding-bottom: 0.5em;
}

@media only screen and (max-width:500px) {
    .campopesq {
        max-width: 100vw;
    }
}

.campopesq input::placeholder {
    color: rgba(27, 152, 224, 0.7) !important;
}

.campopesq button {
    border-radius: 25em;
    width: 5em;
    box-shadow: rgb(180 180 180 / 90%) 0px 0px 4px;
}

.campopesq button svg {
    font-size: 1.4em;
}

.campopesq input {
    border-right: none;
}

.campopesq button {
    border-left: none;
}

.buscaadv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    margin: 0px;
}