.campopesq {
    margin: auto;
    max-width: 40vw;
    padding-bottom: 0.5em;
    button {
        border-radius: 25em;
        width: 5em;
        background-color: rgb(223, 223, 223);
        border-left: none;

        svg{
            font-size: 1.4em;
        }
    }

    input::placeholder {
        color: black;
    }
    
}

.buscaadv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    margin: 0px;
}

