.campopesq {
    margin: auto;
    max-width: 40vw;
    padding-bottom: 0.5em;
    button {
        border-radius: 25em;
        width: 5em;
        box-shadow: rgba(180, 180, 180, 0.9) 0px 0px 4px;
        border-left: none;

        svg{
            font-size: 1.4em;
        }
    }

    input::placeholder {
        color: rgba(27, 152, 224, 0.7) !important;
    }
    
}

.buscaadv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    margin: 0px;
}

