.div_container {
    background-color: #fff;
    width: 98%;
    padding: .5em .5em .1em .5em;
    border-radius: 15px;

    .semCorrespondencia {
        text-align: center;
        padding: 1em;

        .colums {
            flex-direction: column;

            img {
                height: 60px;

            }

        }
    }
}