.card-login {

    width: auto;
    max-width: 30em;

    @media (max-width: 720px) {
        margin-left: 1em;
        margin-right: 1em;
    }


    h2 {
        border-bottom: gray 1px solid;
        padding-bottom: 1em;
    }

    .form-control {
        background-color: #e9ecef;
    }

    .btn-entrar {
        background-color: #238636;
        border-color: #238636;
        font-size: 1em;
        width: 100%;
    }

    .btn-entrar:hover {
        background-color: #1d6d2d;
    }

}