@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@1,8..144,300&display=swap');

#Login {

    .cardLogin {
        margin: auto;
        margin-top: 2em;
        padding: 2em;
        width: 30em;
        
        @media (max-width: 720px) {
            width: auto;
        }

        h1 {
            text-align: center;
            font-weight: bold;
            color: rgb(80, 80, 80);
            font-family: 'Roboto Serif', serif;
        }

        .btnLogin {
            background-color: #0084d1;
            border-color: #0084d1;
            width: 100%;

            &:hover {
                background-color: #186ca0;
                border-color: #186ca0;
            }
        }
    }
}